<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://www.custodeco.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/2/1/21007076-1.jpg", class: "avatar" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Go back to cocktail list", cocktails_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
    <h1><%= @cocktail.name %></h1>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> of <%= dose.ingredient.name %></li>
      <%end %>
    </ul>

<p>Add an ingredient to your cocktail's recipe</p>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit  %>
<% end %>

<%= link_to "Delete #{@cocktail.name}", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } %>

</div>
